@import '~antd/es/style/themes/default.less';

.main {
    width: 335px;
    position: absolute;
    left: 0;
    right: 0;
    // top: 0;
    bottom: 0;
    margin: auto;
    .title {
        font-weight: 700;
    }
    .signIn {
        text-align: center;
        margin-top: 10px;
        font-size: 12px;
    }
    .getCaptcha {
        font-size: 12px;
        width: 107px;
        border-radius: 4px;
        text-align: center;
    }

    .success,
    .warning,
    .error {
        transition: color 0.3s;
    }

    .success {
        color:@success-color
    }
    .warning {
        color:@warning-color
    }
    .error {
        color:@error-color
    }

    .progress-pass > .progress {
        :global {
            .ant-progress-bg {
                background-color: @warning-color;
            }
        }
    }
    
    :global {
        .ant-input:placeholder-shown {
            font-size: 12px;
        }
        .ant-input-affix-wrapper .ant-input:not(:first-child) {
            padding-left: 38px;
            background-color: rgba(102, 110, 232, 0.0980392156862745);
            border-radius: 4px;
        }
    }
}