@import '~antd/es/style/themes/default.less';


html, body, #root {
  height: 100%;
}

body {
  margin: 0;
}

.ant-form-item-explain,
 .ant-form-item-extra{
  font-size: 12px;
}

.ant-select-item-option-active:not(.ant-select-item-option-disabled) {
  color: @primary-color;
}

.top-right-button  {
  width: 100%;
  text-align: right;
  button {
    width: 100px;
    border-radius: 4px;
    height: 34px;
        .icon {
            font-size: 15px
        }
  }
}

.card-title {
  :global {
      .ant-card-head {
          padding: 0 12px;
      }
      .ant-card-head-title {
          font-size: 24px;
          font-weight: 700;
          color: @primary-color;
      }
  }
}

.card-border-table {
  :global{
    .ant-card-head {
        border-bottom: 2px solid #f0f0f0;
    }
    .ant-table thead > tr > th {
        background: #C2C5F6;
    }
  }
}

.modal-no-border {
  :global {
      .ant-modal-title {
          font-weight: 700;
      }
      .ant-modal-header{
          border-bottom: none;
      }
      .ant-modal-body {
          padding: 0 24px 12px 24px;
      }
      .ant-modal-footer {
          border-top:none;
      }
  }

}


.title-decoration::before {
  display: inline-block;
  content: '';
  width: 6px;
  height: 19px;
  margin: 0 6px 0 0;
  background: @primary-color;
}

.title-decoration {
  font-weight: 700;
  span {
      position: absolute;
      margin-top: -3px;
  }
}